
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


/* CSS RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* App */
body {
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/notebook-dark.png");
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

/* container */

.container {
  max-width: 1500px;
  margin: 0 auto;
}

/* todo list */

.img{
  height: 50px;
  background-image:  url(MERN-logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10%;
  z-index: 10;
  margin-top: 1rem;
}

.title {
  text-align: center;
}

.todos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.todo {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;

  background-color: rgb(209, 207, 207);
  width: 50%;
  font-size: 1.5rem;
  border-radius: 1rem;
  transition: all 0.2s;

  &:hover{
    background-color: rgb(189, 193, 235); 
  }
}

.mutations {
  display: flex;
  gap: 0.5rem;
}

.todo__status,
.todo__delete {
  border: none;
  padding: 0;
  line-height: 1;
  cursor: pointer;
  transition: all 0.2s;
  background: none;

  &:hover {
    transform: scale(1.15);
  }
}


/* form */

.form {
  display: flex;
  gap: 0.5rem;
  width: 50%;
  margin: 1rem auto;
}

.form__input {
  flex: 1;
  padding: 0.25rem 0.5rem;
  border-radius: 0.50rem;

  &:focus,
  &:hover{
    background-color: #e9e9e9ea;
  }
}

.form__button{
  border: none;
  background-color:rgb(181, 202, 248);
  border-radius: 0.25rem;
  cursor: pointer;
  width: 5rem;

  &:hover{
    background-color:rgb(151, 185, 247);
  }
}

@media  (max-width:430px){
  .title{
    font-size: 2.5rem;
  }

  .todo{
    width: 98%;
    font-size: 1.2rem;
  }
  .form{
    width: 95%;
  }
}